.big{
    padding: 50px;

}
.header{
    background-color:blue ;
}
.recensies{
    background-color:red ;
    float: left;
    width: 20%;
}
.info{
    background-color:yellow ;
    float: right;
    width: 80%;
}
.footer{
    margin-top: 50px;
    background-color:green ;

}